[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh/oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = zsh/oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "tmux/plugins/tmux-copycat"]
	path = tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
